<div class="like">
    <div class="to">
        <div class="left">猜你喜欢</div>
        <div class="right">更多 ></div>
    </div>
    <div class="txt">
        <dl class="col-xs-6">
            <dt><img src="img/car1.gif" alt=""></dt>
            <dd>
                <h2>上汽大众-全新旅途L</h2>
                <p>上汽大众-全新旅途L享2年0利率</p>
                <div class="money">￥9.9元  <span>28元</span></div>
            </dd>
        </dl>
        <dl class="col-xs-6">
            <dt><img src="img/car2.gif" alt=""></dt>
            <dd>
                <h2>上汽大众-全新旅途L</h2>
                <p>上汽大众-全新旅途L享2年0利率</p>
                <div class="money">￥9.9元  <span>28元</span></div>
            </dd>
        </dl>
    </div>
    <div class="txt">
        <dl class="col-xs-6">
            <dt><img src="img/car1.gif" alt=""></dt>
            <dd>
                <h2>上汽大众-全新旅途L</h2>
                <p>上汽大众-全新旅途L享2年0利率</p>
                <div class="money">￥9.9元  <span>28元</span></div>
            </dd>
        </dl>
        <dl class="col-xs-6">
            <dt><img src="img/car2.gif" alt=""></dt>
            <dd>
                <h2>上汽大众-全新旅途L</h2>
                <p>上汽大众-全新旅途L享2年0利率</p>
                <div class="money">￥9.9元  <span>28元</span></div>
            </dd>
        </dl>
    </div>
    <button>加载更多</button>
</div>